 {% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}
{% block content %}
<div class="sight-title">
<h1>Birds for {{ sighting.date }}</h1>
<hr />
</div>


<section class="card-container">
<a href="">
<div class="index-card">
    <div class="">
<h1>Bird 1</h1>
<h2> {{ sighting.location }}</h2>
</div>
<div class="description">
<p>{{ sighting.notes }}</p>
</div>
</div>
</a>
</section>

<div class="sighting-actions">
    <a href="{% url 'sighting-update' sighting.id %}" class="btn-warn">Edit</a>
    <a href="{% url 'sighting-delete' sighting.id %}" class="btn-danger">DELETE</a>
</div>
{% endblock %}