 {% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/confirm.css' %}" />
{% endblock %}
{% block content %}
<div class="title-container">
<h1>Are you sure you want to delete the entry for {{ sighting.date }}?</h1>
</hr>
</div>
<div class="form-container">
<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'sight-detail' sighting.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>
</div>
{% endblock %}